@import "tailwindcss";

@theme {
  /* Background colors */
  --color-bg-primary: #0a0a0a;
  --color-bg-secondary: #1a1410;

  /* Orange accent colors */
  --color-orange: #ff8c42;
  --color-orange-light: #ffb366;
  --color-orange-dark: #8b4513;
  --color-orange-bright: #ffa500;

  /* Text colors */
  --color-text-primary: #e5e5e5;
  /* --color-text-primary: #000000; */
  --color-text-secondary: #a0a0a0;
  /* --color-text-secondary: #020202  */

  --gradient-button: linear-gradient(90deg, #ff8c42 0%, #ffa500 100%);
}

.controller {
  position: fixed;
  pointer-events: none;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

* {
  cursor: none;
}

@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee-trackLeft {
  animation: marqueeLeft var(--duration, 50s) linear infinite;
  animation-direction: var(--direction, normal);
}
.marquee-trackRight {
  animation: marqueeRight var(--duration, 50s) linear infinite;
  animation-direction: var(--direction, normal);
}

.marquee-trackLeft:hover {
  animation-play-state: paused;
}
.marquee-trackRight:hover {
  animation-play-state: paused;
}
@layer components {
  .gradientText {
    @apply bg-linear-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent;
  }
}

body {
  overflow-x: hidden;
}

.imgsize {
  aspect-ratio: 16/9;
}

/* Apply only on mobile devices */
@media (max-width: 768px) {
  * {
    box-shadow: none !important; /* remove shadows */
    filter: none !important; /* remove glow/blur effects */
  }
  *:not(.marquee-trackLeft):not(.marquee-trackRight) {
    animation: none !important;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-8px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2.6s ease infinite;
  }
}

.animate-float:hover {
  animation-play-state: paused;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
  }
  50% {
    box-shadow: 0 0 40px rgba(168, 85, 247, 0.6);
  }
  100% {
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
  }
}

@layer utilities {
  .animate-glow {
    animation: glow 2.6s ease infinite;
  }
}
